.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/codeStyleSettings.xml
.idea/runConfigurations.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
ScrewyLouie.svg
LittleFamilyApp/production
LittleFamilyTree-android.iml
*.bak
