<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.finlayfamily.littlefamily" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChooseFamilyMember"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.FSLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fslogin"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.PGVLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pgvlogin"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.MatchGameActivity"
            android:label="@string/title_activity_match_game" >
        </activity>
        <activity
            android:name=".activities.ChooseGameActivity"
            android:label="@string/title_activity_choose_game" >
        </activity>
        <activity
            android:name=".activities.ScratchGameActivity"
            android:label="@string/title_activity_scratch_game"
            android:parentActivityName=".activities.ChooseGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.finlayfamily.littlefamily.activities.ChooseGameActivity" />
        </activity>
        <activity
            android:name=".activities.ColoringGameActivity"
            android:label="@string/title_activity_coloring_game"
            android:parentActivityName=".activities.ChooseGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.finlayfamily.littlefamily.activities.ChooseGameActivity" />
        </activity>
        <activity
            android:name=".activities.HeritageDressUpActivity"
            android:label="@string/title_activity_heritage_dress_up"
            android:parentActivityName=".activities.ChooseCultureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.finlayfamily.littlefamily.activities.ChooseCultureActivity" />
        </activity>
        <activity
            android:name=".activities.ChooseCultureActivity"
            android:label="@string/title_activity_choose_culture"
            android:parentActivityName=".activities.ChooseGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.finlayfamily.littlefamily.activities.ChooseGameActivity" />
        </activity>
        <activity
            android:name=".activities.ChooseRemoteService"
            android:label="@string/title_activity_choose_remote_service" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.PuzzleGameActivity"
            android:label="@string/title_activity_puzzle_game"
            android:parentActivityName=".activities.ChooseGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.finlayfamily.littlefamily.activities.ChooseGameActivity" />
        </activity>
    </application>

</manifest>
